* {
    box-sizing: border-box;
}
:root {
    --nav-height: 140px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;

    /*Brand Colours*/
    --colour-primary: #f2d6d7;
    --colour-secondary: #fbcc29;  

    /*Neutrals*/
    --colour-bodytext: #333;
    --colour-background: #f8f8f8;

    /*Emphasis*/
    --colour-emphasis: #ff6347;
    --colour-cta: #ff6347;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--colour-primary);
}

[id] {
    scroll-margin-top: var(--nav-height);
}

.hero-text {
    margin-left: 20px;
}
.topnav__links {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    align-self:end;
}

.topnav__item {
    display:inline-flex;
    margin-right: 20px;
}

.topnav__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.7s ease;
}

.topnav__link:hover {
    color: var(--colour-emphasis);
}

nav {
    background-color: var(--colour-background);
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

article {
    background-color: var(--colour-background);
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

h3.subtitle {
    font-style: italic;
    color: #555;
    margin-top: -15px;
}

.titlegraphics {
    display: inline;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: auto;
}

.titlegraphics h1, h3 {
    margin: 0;
}

.flexheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colour-primary);
    /*border-radius: 1em;*/
    max-width: 1200px;
    position: sticky;
    top: 0;
}

.flexmain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colour-secondary);
     border-radius: 1em;
    max-width: 1200px;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

article img {
    border-radius: 1em;
    padding: 5px;
}

.gallery {
    margin: 20px;
    max-width: 1200px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 30px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    transition: transform 0.3s ease;
}
.prices {
    margin: 20px;
    max-width: 1200px;
    background-color: var(--colour-background);
    border-radius: 1em;
    padding: 10px;
}

.prices table {
    margin: 20px;
    max-width: 1200px;
    border-collapse: collapse;
}

.prices th {
    background-color: var(--colour-secondary);
    padding: 10px;
    text-align: left;
    width: 25vw ;
}
.prices td, th {
    border: 2px solid #ddd;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.sticky {
    position: sticky;
    top: 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}
.quote-box {
        display: block;
        aspect-ratio: 2/1;
        margin: 20px;
        max-width: 400px;
        border-radius: 1em;
        background-image: url("../images/BGGreen.jpg");
        padding: 50px;;
    }
p.quote-box {
    color: #111;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote_green {
background-image: url("../images/BGGreen.jpg");
    }

.quote_pink {
background-image: url("../images/BGPink.jpg");
    }

.quote_yellow   {
background-image: url("../images/BGYellow.jpg");
    }

.testimonial {
    background-color: var(--colour-background);
    border-radius: 1em;
    padding: 10px;
    margin: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 768px) {

    .topnav__links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 10px);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -10px);
    }
    .topnav__links {
        position: fixed;
        left: -100%;
        top: 160px;
        width: 100%;
        background-color: var(--colour-secondary);
        border-radius: 1em;
        transition: 0.3s;
        flex-direction: column;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .topnav__item {
        margin: 15px 0;
    }

    .topnav__links.active {
        left: 0;
    }
    
}